

body{
    background-color: #e4dfda;
    text-align: center;
    color:#11232C;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    max-width: 800px;
    width:80%;

}

header{
    color: #3A1819;
    background-color: #e4dfda;
    border-bottom: 2px solid #3A1819;
    padding: 10px;
    margin: 10px;
    position: sticky;
    top:0;

}

h2 {
    text-align: left;
    padding: 10px;
    color:#3A1819;
    
}

h3{
    text-align: left;
    padding-left:10px;
    color:#3A1819;
}

h4{
    padding-left:10px;
    color:#3A1819;
}


p{
    text-align: left;
    padding: 10px;
    color:#0b3245;
    margin: 5px;
}

main section{
    background-color:#FAF2EF;
    border: 1px solid #3A1819;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}


img {
    width: 40%;
    height: 40%;
}

figcaption{
    text-align: center;
    font-style: italic;

}

.bold {
    font-weight: bold;
}



ul {
    text-align: left;
}

a{
    text-decoration: none;
    color: #700A36;
}

p a:nth-child(1){
    text-decoration: underline;
}


a:hover{
    color: #A8594D;
}

footer{
    text-align: center;
    border: 2px solid #1C425E;
    padding: 20px;
    background: linear-gradient(#0b3245, #700A36);
    margin: 20px auto;
    max-width: 800px;

}

footer p{
    text-align: center;
    color: #D6FCFF;
    
}
footer p a {
    color: #FBC6D8;
}

footer nav a{
    color: #FBC6D8;
}

footer nav{
    color: #D6FCFF;
}

