

body{
    background-color: #e4dfda;
    text-align: center;
    color:#11232C;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    max-width: 800px;
    width:80%;

}
/*Large screens*/
@media (max-width: 1200px) {
    body {
        width: 95%;
        margin: 0 auto;
    }
}

/*Medium screens*/
@media (max-width: 768px){
    body{
        padding: 15px;
        font-size: 15px;
    }
}

/*Small Screens*/
@media (max-width: 480px) {
    body{
        padding: 10px;
        font-size: 14px;
    }
}

header{
    color: #3A1819;
    background-color: #e4dfda;
    border-bottom: 2px solid #3A1819;
    padding: 10px;
    margin: 0 auto;
    position: sticky;
    top:0;

}

h2 {
    text-align: left;
    padding: 10px;
    color:#3A1819;
    
}

h3{
    text-align: center;
    padding-left:10px;
    color:#3A1819;
}

h4{
    text-align: left;
}

p{
    text-align: left;
    padding: 10px;
    color:#0b3245;
    margin: 5px;
}

/*used id quote for two p elements to center the quote & author only*/
#quote{
    text-align: center;
}
#author{
    text-align: center;
}


main section{
    background-color:#FAF2EF;
    border: 1px solid #3A1819;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}


img {
    width: 40%;
    height: 40%;
}

figcaption{
    text-align: center;
    font-style: italic;

}

ul {
    text-align: left;
    
}

a{
    text-decoration: none;
    color: #700A36;
}

p a:nth-child(1){
    text-decoration: underline;
}


a:hover{
    color: #A8594D;
}

footer{
    border: 2px solid #1C425E;
    background: linear-gradient(#0b3245, #700A36);
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;

}


footer p{
    text-align: center;
    color: #D6FCFF;
    
}
footer p a {
    color: #FBC6D8;
}

footer nav a{
    color: #FBC6D8;
}

footer nav{
    text-align: center;
    color: #D6FCFF;
}

table{
    text-align: left;
    color:#FBC6D8;
    padding: 5px;
    
}


th, td{
    padding: 10px;
}

td:nth-of-type(2){
    text-align: center;
}

thead{
    background-color:#0b3245;
    color:#FBC6D8;

}

td{
    background-color: #700A36;
}


input[type=text] {
    display: block;
}

/*form styling*/
fieldset{
    margin: 30px;
    
}
#output-section {
    overflow: auto; 
    display: flow-root; 
    max-width: 1000px; 
    margin: 20px auto; 
    padding: 20px;
}

#output-section pre {
    max-width: 100%; 
    padding: 0;
    margin: 0;
    overflow-x: auto; 
}

#json-output-section {

    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px;
    border: 2px solid black; 
    border-radius: 8px;
    background-color: #FAF2EF;
}


#json-output-section pre {
    background-color: #FAF2EF; 
    color: #0b3245; 
    padding: 15px;
    border-radius: 4px;
    overflow-x: auto; 
    max-width: 100%;
}

button{
    background-color: #FAF2EF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 5px;
}
button:hover{
    background-color: #cba09a;
}
.remove-button:hover{
    background-color: rgb(238, 126, 126);
}
#add-course-button:hover{
    background-color: rgb(160, 241, 160);
}