body{
    background-color: #FFFAE3;
    text-align: center;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;

}

h2 {
    text-align: left;
    border: 2px solid black;
    display: block;
    padding: 5px;
    margin-left: 5px;
    margin-right: 60%;
}

img {
    width: 20%;
}

figcaption{
    text-align: center;
    font-style: italic;

}

.bold {
    font-weight: bold;
}

main p:nth-of-type(2) {
    text-align: left;
    padding-left: 15px;
}

ul {
    text-align: left;
}

a{
    text-decoration: none;
    color: #700A36;
}

a:hover{
    color: #1C425E;
}

