body{
    background-color: #0E0E52;
    margin: 0 auto;
    max-width: 800px;
    width:80%;

}
header {
    margin: 0 auto;
    max-width: 800px;
    width:80%;

}
main{
    background-color: #69BADD;
}

h1{
    color:aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav{
    color:#69BADD;
}

p{
    color:#0E0E52;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer p{
    color:aliceblue;
}

ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color:#69BADD;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover{
    color: #D0EAF6;
}

section{
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid black; /* Light gray border for all rows and columns */
    padding: 12px 15px;
    text-align: left;
}

th{
    background-color: #96CEE8;
}

footer {
    text-align: center;
}

