body{
    background-color: #0E0E52;
    margin: 0 auto;
    max-width: 800px;
    width:80%;

}
header {
    margin: 0 auto;
    max-width: 800px;
    width:80%;
    

}
main{
    background-color: #69BADD;
}

h1{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #D6FFFD;
    padding: 10px;
    margin-top: 10px;
    
}

h1 img{
    width:10%;
    height:10%;
}

.header{
    font-size: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #0E0E52;
    text-align: center;
    font-size: 30px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0E0E52;
    font-size: 20px;
}

h4{
    color: #30212D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

nav{
    color:#69BADD;
    text-align:center;
    padding-top: 15px;
}

figure{
    text-align: center;
    padding-top:5px;

}

figcaption{
    text-align: center;
    font-style: italic;
    overflow-wrap: break-word;
}

p{
    color:#0E0E52;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer p{
    color:aliceblue;
}

ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ol li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color:#69BADD;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td a{
    color:#30212D;
}

td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
tr{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    color:#0E0E52;
}
ol{
    color:#0E0E52;
}
a:hover{
    color: #D0EAF6;
}

section{
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid black; /* Light gray border for all rows and columns */
    padding: 12px 15px;
    text-align: left;
}

th{
    background-color: #96CEE8;
}

img{
    width: 60%;
    height: 60%;
}

.example{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 5px;
    
}
button{
    padding: 5px;
    margin-top: 10px;
    background-color: #D0EAF6;
    color: #0E0E52;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    color: white;
    background-color: #0E0E52;

}

summary{
    color: #30212D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
}

