<footer></footer>
<nav>
    <a href = "https://webpages.charlotte.edu/kstocks3/" target="_blank">Charlotte Webpage </a>~
    <a href = "https://kaceystocks.github.io" target="_blank">kaceystocks.github.io </a>~
    <a href="https://www.freecodecamp.org/kstocks3" target="_blank">freeCodeCamp</a>~
    <a href="https://www.codecademy.com/profiles/kstocks3" target="_blank">Codecademy</a>~
    <a href = "https://github.com/kaceystocks" target="_blank">GitHub </a>~
    <a href = "https://www.linkedin.com/in/kacey-stocks-a0140b212/" target="_blank">LinkedIn</a>
</nav> 
<p>By <a href="kstocksdesigns.com/index.html">K. Stocks Designs</a> © 2025</p> 
</footer>