<header>
<h1>Kacey Stocks Knowledgable Seal || ITIS3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="fccfsjs_outline.html">FCC JS Plan</a>
            ||
            <a href="intro_form.html">Introduction Form</a>
            ||
            <a href="project_overview.html">Project Overview</a>
        </nav>
        <br>
        <nav>
            <a href="../itis3135/mascotcompany/index.html">Mascot Company</a> || 
            <a href="../itis3135/stuff/CRAP!$web site.htm">CRAPPY Webpage</a> ||
            <a href="../itis3135/hobby/index.html">Hobby</a>
        </nav>
    </header>